In [325]:
# INITIAL SETUP
import pandas as pd
import os
import csv
import numpy as np

In [326]:
# SETTING PATH TO FILE
csvpath = os.path.join("Resources/purchases.csv")
dataframe = pd.read_csv(csvpath)

# INITIAL DATAFRAME
dataframe.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [327]:
# TOTAL NUMBER OF PLAYERS

players = len(dataframe["SN"].value_counts())
totalplayers = pd.DataFrame([players], columns = ["TOTAL PLAYERS"])
totalplayers.head()

   TOTAL PLAYERS
0            576

In [328]:
# SETTING UP PURCHASING ANALYSIS (TOTAL)

uniqueitems = len(dataframe["Item Name"].unique())
uniqueitems

179

In [329]:
average = dataframe["Price"].mean()
averageprice = round((average),2)
averageprice

3.05

In [330]:
totalpurchases = len(dataframe["Purchase ID"].value_counts())
totalpurchases

780

In [331]:
totalrevenue = dataframe["Price"].sum()
totalrevenue

2379.77

In [332]:
# PURCHASING ANALYSIS (TOTAL)

analysis = pd.DataFrame({"UNIQUE ITEMS": [uniqueitems],
                        "AVERAGE PRICE": [averageprice],
                        "TOTAL NUMBER OF PURCHASES": [totalpurchases],
                        "TOTAL REVENUE": [totalrevenue]})
analysis.head()

   UNIQUE ITEMS  AVERAGE PRICE  TOTAL NUMBER OF PURCHASES  TOTAL REVENUE
0           179           3.05                        780        2379.77

In [333]:
# DISPLAYING FIRST DATAFRAME FOR EASIER REFERENCE
dataframe.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [334]:
# SETTING UP GENDER DEMOGRAPHICS DATAFRAME

gender = dataframe["Gender"].value_counts()
gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [335]:
# FIXING GENDER DATAFRAME

testing = dataframe[["SN", "Gender"]]
testing.head(20)

               SN                 Gender
0         Lisim78                   Male
1     Lisovynya38                   Male
2      Ithergue48                   Male
3   Chamassasya86                   Male
4       Iskosia90                   Male
5         Yalae81                   Male
6       Itheria73                   Male
7     Iskjaskst81                   Male
8       Undjask33                   Male
9     Chanosian48  Other / Non-Disclosed
10      Inguron55                   Male
11   Haisrisuir60                   Male
12   Saelaephos52                   Male
13    Assjaskan73                   Male
14    Saesrideu94                   Male
15      Lisassa64                 Female
16      Lisirra25                   Male
17      Zontibe81                   Male
18      Reunasu60                 Female
19      Chamalo71                   Male

In [336]:
testing = testing.drop_duplicates()
gendercount = testing["Gender"].value_counts()
gendercount

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [337]:
maleperc = round((gendercount[0]/players)*100,2)
maleperc

84.03

In [338]:
femaleperc = round((gendercount[1]/players)*100,2)
femaleperc

14.06

In [339]:
otherperc = round((gendercount[2]/players)*100,2)
otherperc

1.91

In [340]:
totalcounts = [gendercount[0],gendercount[1],gendercount[2]]
totalperc = [maleperc,femaleperc,otherperc]

demographics = pd.DataFrame({"TOTAL COUNT PER GENDER": totalcounts, "TOTAL PERCENTAGE PER GENDER": totalperc})
demographics

   TOTAL COUNT PER GENDER  TOTAL PERCENTAGE PER GENDER
0                     484                        84.03
1                      81                        14.06
2                      11                         1.91

In [341]:
# FINALIZING GENDER DEMOGRAPHICS DATAFRAME

demographics.index = (["MALE", "FEMALE", "OTHER / NONDISCLOSED"])
demographics

                      TOTAL COUNT PER GENDER  TOTAL PERCENTAGE PER GENDER
MALE                                     484                        84.03
FEMALE                                    81                        14.06
OTHER / NONDISCLOSED                      11                         1.91

In [342]:
# DISPLAYING FIRST DATAFRAME FOR EASIER REFERENCE
dataframe.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [343]:
# SETTING UP PURCHASING ANALYSIS (GENDER)

grpgender = dataframe.groupby(["Gender"])
grpgender.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [344]:
grppurchase = grpgender["Purchase ID"].count()
grppurchase

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [345]:
grpaverage = grpgender["Price"].mean()
grpaverageprice = round((grpaverage),2)
grpaverageprice

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [346]:
grpvalue = grpgender["Price"].sum()
grpvalue

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [347]:
grpaveragetotal = grpvalue/gendercount
grpaveragefinal = round((grpaveragetotal),2)
grpaveragefinal

Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [348]:
# CREATING PURCHASE ANALYSIS (GENDER) DATAFRAME

purchasedemo = pd.DataFrame({"PURCHASE COUNT": grppurchase,
                            "AVERAGE PURCHASE PRICE": grpaverageprice,
                            "TOTAL PURCHASE VALUE": grpvalue,
                            "AVERAGE TOTAL PURCHASE PER PERSON": grpaveragefinal})
purchasedemo

,PURCHASE COUNT,AVERAGE PURCHASE PRICE,TOTAL PURCHASE VALUE,AVERAGE TOTAL PURCHASE PER PERSON
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [349]:
# SETTING UP AGE DEMPGRAPHICS

agebin = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 500]
agegroup = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

dataframe["Age Demographic"] = pd.cut(dataframe["Age"], agebin, labels=agegroup)
dataframe.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographic
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [350]:
grpage = dataframe.groupby("Age Demographic")
grpage.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographic
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
30,30,Idai61,19,Male,140,Striker,2.94,15-19
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-39
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,10-14
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10
34,34,Sondim73,19,Male,160,Azurewrath,4.40,15-19
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,30-34
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,10-14
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,15-19
46,46,Yasrisu92,27,Male,102,Avenger,3.44,25-29
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,30-34
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84,30-34
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,10-14
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,25-29
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,10-14
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03,15-19
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,15-19
65,65,Chamirraya83,25,Male,34,Retribution Axe,2.22,25-29
70,70,Pheodai94,29,Male,143,Frenzied Scimitar,1.56,25-29
78,78,Haillyrgue51,7,Male,50,Dawn,4.60,<10
81,81,Heudai45,8,Female,174,Primitive Blade,3.47,<10
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79,40+
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33,40+
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,40+

In [351]:
agecount = grpage["SN"].nunique()
agecount

Age Demographic
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [352]:
ageperc = (agecount/players)*100
agepercent = round((ageperc),2)
agepercent

Age Demographic
<10       2.95
10-14     3.82
15-19    18.58
20-24    44.79
25-29    13.37
30-34     9.03
35-39     5.38
40+       2.08
Name: SN, dtype: float64

In [353]:
# FINALIZING THE AGE DEMOGRAPHIC DATAFRAME

agedemo = pd.DataFrame({"TOTAL COUNT PER AGE": agecount,
                        "PERCENTAGE PER AGE": agepercent})
agedemo

                 TOTAL COUNT PER AGE  PERCENTAGE PER AGE
Age Demographic
<10                               17                2.95
10-14                             22                3.82
15-19                            107               18.58
20-24                            258               44.79
25-29                             77               13.37
30-34                             52                9.03
35-39                             31                5.38
40+                               12                2.08

In [354]:
# DISPLAYING FIRST DATAFRAME FOR EASIER REFERENCE
dataframe.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographic
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [355]:
# SETTING UP PURCHASING ANALYSIS (AGE)

agepurchase = grpage["Purchase ID"].count()
agepurchase

Age Demographic
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [356]:
ageaverage = grpage["Price"].mean()
ageaverageprice = round((ageaverage),2)
ageaverageprice

Age Demographic
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
Name: Price, dtype: float64

In [357]:
agevalue = grpage["Price"].sum()
agevalue

Age Demographic
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [358]:
ageaveragetotal = agevalue/agecount
ageaveragefinal = round((ageaveragetotal),2)
ageaveragefinal

Age Demographic
<10      4.54
10-14    3.76
15-19    3.86
20-24    4.32
25-29    3.81
30-34    4.12
35-39    4.76
40+      3.19
dtype: float64

In [359]:
# FINZALIZING PURCHASING ANALYSIS (AGE) DATAFRAME

agefinal = pd.DataFrame({"PURCHASE COUNT": agepurchase,
                        "AVERAGE PURCHASE PRICE": ageaverageprice,
                        "TOTAL PURCHASE VALUE": agevalue,
                        "AVERAGE TOTAL PURCHASE PER PERSON": ageaveragefinal})
agefinal

,PURCHASE COUNT,AVERAGE PURCHASE PRICE,TOTAL PURCHASE VALUE,AVERAGE TOTAL PURCHASE PER PERSON
Age Demographic,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

In [360]:
# DISPLAYING FIRST DATAFRAME FOR EASIER REFERENCE
dataframe.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographic
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [361]:
# SETTING UP TOP SPENDERS DATAFRAME

topspenders = dataframe.groupby("SN")
topspenders.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographic
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20-24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,20-24
...,...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,20-24
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,10-14
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,15-19
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35-39
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05,20-24
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15,10-14
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,20-24
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,15-19
758,758,Iral74,21,Male,182,Toothpick,4.03,20-24
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77,25-29
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38,20-24
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,40+
762,762,Asur53,26,Male,110,Suspension,1.44,25-29
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75,20-24
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07,15-19
765,765,Irith83,18,Male,130,Alpha,2.07,15-19
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
767,767,Ilmol66,8,Female,92,Final Critic,4.88,<10
768,768,Assassasta79,38,Male,92,Final Critic,4.88,35-39
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,15-19
770,770,Lirtosia63,34,Male,12,Dawne,1.02,30-34
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35,15-19
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58,25-29
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [362]:
topcount = topspenders["Purchase ID"].nunique()
topcount.head()

SN
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Name: Purchase ID, dtype: int64

In [363]:
topaverage = topspenders["Price"].mean()
topaverageprice = round((topaverage),2)
topaverageprice.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [364]:
topvalue = topspenders["Price"].sum()
topvalue.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [365]:
# FINALIZING THE TOP SPENDERS DATAFRAME
# ASCENDING ORDER TO SHOW TOP 10 SPENDERS

addicted = pd.DataFrame({"PURCHASE COUNT": topcount,
                        "AVERAGE PURCHASE PRICE": topaverageprice,
                        "TOTAL PURCHASE VALUE": topvalue})
mostaddicted = addicted.sort_values(["TOTAL PURCHASE VALUE"], ascending=False)
mostaddicted.head(10)

              PURCHASE COUNT  AVERAGE PURCHASE PRICE  TOTAL PURCHASE VALUE
SN
Lisosia93                  5                    3.79                 18.96
Idastidru52                4                    3.86                 15.45
Chamjask73                 3                    4.61                 13.83
Iral74                     4                    3.40                 13.62
Iskadarya95                3                    4.37                 13.10
Ilarin91                   3                    4.23                 12.70
Ialallo29                  3                    3.95                 11.84
Tyidaim51                  3                    3.94                 11.83
Lassilsala30               3                    3.84                 11.51
Chadolyla44                3                    3.82                 11.46

In [366]:
# DISPLAYING FIRST DATAFRAME FOR EASIER REFERENCE
dataframe.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographic
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [367]:
# SETTING UP MOST POPULAR ITEMS DATAFRAME

items = dataframe[["Item ID", "Item Name", "Price"]]
grpitems = items.groupby(["Item ID", "Item Name"])
grpitems.head()

     Item ID                                     Item Name  Price
0        108     Extraction, Quickblade Of Trembling Hands   3.53
1        143                             Frenzied Scimitar   1.56
2         92                                  Final Critic   4.88
3        100                                   Blindscythe   3.27
4        131                                          Fury   1.44
5         81                                     Dreamkiss   3.61
6        169        Interrogator, Blood Blade of the Queen   2.18
7        162                                 Abyssal Shard   2.67
8         21                                     Souleater   1.10
9        136                  Ghastly Adamantite Protector   3.58
10        95                         Singed Onyx Warscythe   4.74
11       162                                 Abyssal Shard   2.67
12       116                       Renewed Skeletal Katana   4.18
13         4                            Bloodlord's Fetish   1.70
14       165                   Bone Crushing Silver Skewer   4.86
15        98                   Deadline, Voice Of Subtlety   2.89
16        40                                 Second Chance   2.52
17       161                                        Devine   1.76
18        82                                       Nirvana   4.90
19        89             Blazefury, Protector of Delusions   4.64
20        57               Despair, Favor of Due Diligence   4.60
21       168           Sun Strike, Jaws of Twisted Visions   1.48
22        24                                 Warped Fetish   3.81
23       151                                     Severance   3.40
24       141                                    Persuasion   3.19
25       178  Oathbreaker, Last Hope of the Breaking Storm   4.23
26        71                                        Demise   1.61
27        96                   Blood-Forged Skeletal Spine   3.09
28       119     Stormbringer, Dark Blade of Ending Misery   4.32
29        37           Shadow Strike, Glory of Ending Hope   3.16
..       ...                                           ...    ...
731       12                                         Dawne   1.02
732       97                   Swan Song, Gouger Of Terror   2.50
733       66                            Victor Iron Spikes   4.40
734      165                   Bone Crushing Silver Skewer   4.86
736       58             Freak's Bite, Favor of Holy Might   4.14
737      149             Tranquility, Razor of Black Magic   1.75
738      121                                      Massacre   1.60
739       61                                      Ragnarok   3.87
740      127                  Heartseeker, Reaver of Souls   3.92
742        5                                    Putrid Fan   4.08
744       94                                Mourning Blade   3.49
747      146                          Warped Iron Scimitar   3.10
748       55                         Vindictive Glass Edge   2.27
750      167                   Malice, Legacy of the Queen   3.61
751      180                                   Stormcaller   3.36
752      112                                  Worldbreaker   2.60
754       79                           Alpha, Oath of Zeal   4.05
755       76                      Haunted Bronzed Bludgeon   3.15
756       73                                   Ritual Mace   2.05
757       57               Despair, Favor of Due Diligence   4.60
758      182                                     Toothpick   4.03
760       44                         Bonecarvin Battle Axe   2.38
761       17                  Lazarus, Terror of the Earth   1.70
764      113                             Solitude's Reaver   4.07
765      130                                         Alpha   2.07
766       58             Freak's Bite, Favor of Holy Might   4.14
774      101                                  Final Critic   4.19
777       67         Celeste, Incarnation of the Corrupted   3.46
778      101                                  Final Critic   4.19
779       50                                          Dawn   4.60

[697 rows x 3 columns]

In [368]:
itemcount = grpitems["Item ID"].count()
itemcount.head()

Item ID  Item Name
0        Splinter              4
1        Crucifer              3
2        Verdict               6
3        Phantomlight          6
4        Bloodlord's Fetish    5
Name: Item ID, dtype: int64

In [369]:
itemvalue = grpitems["Price"].sum()
itemvalue.head()

Item ID  Item Name
0        Splinter               5.12
1        Crucifer               9.78
2        Verdict               14.88
3        Phantomlight          14.94
4        Bloodlord's Fetish     8.50
Name: Price, dtype: float64

In [370]:
itemprice = itemvalue/itemcount
itemprice.head()

Item ID  Item Name
0        Splinter              1.28
1        Crucifer              3.26
2        Verdict               2.48
3        Phantomlight          2.49
4        Bloodlord's Fetish    1.70
dtype: float64

In [371]:
# FINALIZING MOST POPULAR ITEM DATAFRAME
# ASCENDING ORDER SHOWS TOP 10 MOST POPULAR ITEMS

itemfinal = pd.DataFrame({"PURCHASE COUNT": itemcount,
                         "ITEM PRICE": itemprice,
                         "TOTAL ITEM VALUE": itemvalue})
popularity = itemfinal.sort_values(["PURCHASE COUNT"], ascending=False)
popularity.head(10)

,,PURCHASE COUNT,ITEM PRICE,TOTAL ITEM VALUE
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16
103,Singed Scalpel,8,4.35,34.80
75,Brutality Ivory Warmace,8,2.42,19.36
72,Winter's Bite,8,3.77,30.16
60,Wolf,8,3.54,28.32
59,"Lightning, Etcher of the King",8,4.23,33.84

In [372]:
# CREATING A DATAFRAME BASED ON MOST PROFITABLE ITEM
# REUSING THE TABLE ABOVE, SORTED IN TOTAL ITEM VALUE

expensive = itemfinal.sort_values(["TOTAL ITEM VALUE"], ascending=False)
expensive.head(10)

,,PURCHASE COUNT,ITEM PRICE,TOTAL ITEM VALUE
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80
59,"Lightning, Etcher of the King",8,4.23,33.84
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
78,"Glimmer, Ender of the Moon",7,4.40,30.80
72,Winter's Bite,8,3.77,30.16
60,Wolf,8,3.54,28.32